.jd-chart-card {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 100%;
  margin: auto;
  color : #4F4F4F;
  font-size: 22px;
  
}

.chart-title {
font-weight: 600;
font-size: 22px;
line-height: 100%;
letter-spacing: 0%;
color : #4F4F4F;
}

.chart-wrapper {
  position: relative;
  cursor: default;
  overflow-x: auto;
}
.chart-scroll-container {
  min-width: 600px; /* Chart will scroll if screen is narrower */
}
canvas {
  cursor: pointer;
}
