.vehicle-history-card {
  background-color: #eaf4ff;
  padding: 24px;
  border-radius: 8px;
  width: 100%;
}

.section-title {
font-weight: 600;
font-size: 16px;
color : #4F4F4F;
margin-bottom : 20px;

}

.vehicle-history-container {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 200px;
  flex-shrink: 0;
  border-right: 1px solid #ccc;
  padding-right: 20px;
}

.right-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  flex: 1;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group label {
font-weight: 500;
font-size: 16px;
color : #8A8A8A;
}

.form-group p,
.form-group textarea {
  font-size: 16px;
  color:black;
  text-align: left;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  height: 40px;
  border: 1px solid #A7A7A7;
  text-align: center;
}
.form-group p{
   min-height: 40px;
    height: auto;
    text-align: left;
}

.bottom-row {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 16px;
  margin-top: 20px;
}

.full-width textarea {
  height: 60px;
  resize : none;
  outline: none;
  text-align: left;
}


@media(max-width: 769px){
   .fields-container{
       display: flex;
       flex-wrap: wrap;
             row-gap: 30px;    /* only row spacing */
       column-gap: 5.4%; 
   border-top-left-radius: 0;
    border-top-right-radius: 0;
   }

   .fields-container div{
    width: 100%;
   }
   .fields-container div:nth-child(1),
   .fields-container div:nth-child(2),
   .fields-container div:nth-child(4),
   .fields-container div:nth-child(5),
   .fields-container div:nth-child(8),
   .fields-container div:nth-child(9),
   .fields-container div:nth-child(10),
   .fields-container div:nth-child(11),
   .fields-container div:nth-child(12),
   .fields-container div:nth-child(13),
   .fields-container div:nth-child(14),
   .fields-container div:nth-child(15)
   {
    width: 47%;
   }

   .fields-container div:last-child p{
        height: 80px;
   }
   
}